<br>
<br>
<ul class="movieresults">
<li>The title of your movie is <%= @title %></li>
<li>The director of your movie is <%= @director %></li>
<li>Your movie came out in the year <%= @year%></li>
<li>Here is a brief synpopsis of your movie: <%= @plot %> </li>
</ul>
<br>
<br>
<img src= <%= @poster%>/>